In [ ]:
import pandas as pd

In [49]:
df=pd.read_json("/content/sample_data/contacts.json")
df

            Id                Email  ... Contacts                    OrderId
0            0       gkzAbIy@qq.com  ...        1
1            1                       ...        4  vDDJJcxfLtSfkooPhbYnJdxov
2            2                       ...        0
3            3   mdllpYmE@gmail.com  ...        0  bHquEnCbbsGLqllwryxPsNOxa
4            4                       ...        2
...        ...                  ...  ...      ...                        ...
499995  499995                       ...        2  whJlUOGNqjxCRzmIRdURQvlNv
499996  499996                       ...        4  JqIXOONvrwvJxZqNxCYHqnrKS
499997  499997                       ...        2  beXCZSzcHaBwAYoDcpQqjuAFO
499998  499998  RzSDsyH@hotmail.com  ...        1  ehjeFACGiwrERQxbziMxwOWku
499999  499999                       ...        0  JibSBRgzYdfzkzbTuGUXrcvDX

[500000 rows x 5 columns]

In [50]:
a = pd.DataFrame(df, columns= ["Id", "Email", "Phone", "Contacts", "OrderId"])
print(a)

            Id                Email  ... Contacts                    OrderId
0            0       gkzAbIy@qq.com  ...        1
1            1                       ...        4  vDDJJcxfLtSfkooPhbYnJdxov
2            2                       ...        0
3            3   mdllpYmE@gmail.com  ...        0  bHquEnCbbsGLqllwryxPsNOxa
4            4                       ...        2
...        ...                  ...  ...      ...                        ...
499995  499995                       ...        2  whJlUOGNqjxCRzmIRdURQvlNv
499996  499996                       ...        4  JqIXOONvrwvJxZqNxCYHqnrKS
499997  499997                       ...        2  beXCZSzcHaBwAYoDcpQqjuAFO
499998  499998  RzSDsyH@hotmail.com  ...        1  ehjeFACGiwrERQxbziMxwOWku
499999  499999                       ...        0  JibSBRgzYdfzkzbTuGUXrcvDX

[500000 rows x 5 columns]

In [51]:
df.sort_values(by=["Id"], inplace=False, ascending=False)
df.head(10)

   Id                     Email  ... Contacts                    OrderId
0   0            gkzAbIy@qq.com  ...        1
1   1                            ...        4  vDDJJcxfLtSfkooPhbYnJdxov
2   2                            ...        0
3   3        mdllpYmE@gmail.com  ...        0  bHquEnCbbsGLqllwryxPsNOxa
4   4                            ...        2
5   5                            ...        0
6   6  hESiBgYTxMnj@hotmail.com  ...        4
7   7  hqyunTiaXfIjhO@yahoo.com  ...        1  vxjYZtMUvNhtEBDruzQfjpsmX
8   8   XGUjcSiDpFKWEUCs@qq.com  ...        2
9   9    osIIQgAiZX@hotmail.com  ...        0  IqewrMXVTJqSsVklWFfOpdRNI

[10 rows x 5 columns]

In [60]:
df.to_csv('.csv')

In [59]:
size = 25
m = (2 * size) - 2
for i in range(0, size):
    for j in range(0, m):
        print(end=' ')
    m = m - 1
    for j in range(0, i + 1):
        print('*', end=' ')
    print()

                                                *
                                               * *
                                              * * *
                                             * * * *
                                            * * * * *
                                           * * * * * *
                                          * * * * * * *
                                         * * * * * * * *
                                        * * * * * * * * *
                                       * * * * * * * * * *
                                      * * * * * * * * * * *
                                     * * * * * * * * * * * *
                                    * * * * * * * * * * * * *
                                   * * * * * * * * * * * * * *
                                  * * * * * * * * * * * * * * *
                                 * * * * * * * * * * * * * * * *
                                * * * * * * * * * * * * * * * * *
                               * * * * * * * * * * * * * * * * * *
                              * * * * * * * * * * * * * * * * * * *
                             * * * * * * * * * * * * * * * * * * * *
                            * * * * * * * * * * * * * * * * * * * * *
                           * * * * * * * * * * * * * * * * * * * * * *
                          * * * * * * * * * * * * * * * * * * * * * * *
                         * * * * * * * * * * * * * * * * * * * * * * * *
                        * * * * * * * * * * * * * * * * * * * * * * * * *

In [54]:
x = 10
while x >= 0:
  x -= 1
  print("I dont have the answer on stackOverflow")

I dont have the answer on stackOverflow
I dont have the answer on stackOverflow
I dont have the answer on stackOverflow
I dont have the answer on stackOverflow
I dont have the answer on stackOverflow
I dont have the answer on stackOverflow
I dont have the answer on stackOverflow
I dont have the answer on stackOverflow
I dont have the answer on stackOverflow
I dont have the answer on stackOverflow
I dont have the answer on stackOverflow